

html{
    height: 100%;
}

body {
    background-image: url('../imagenes/background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:white;
}

ul{
    list-style: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content:space-between;
    background-color: #7374746e;
    color: white;
}

nav h1{
    padding-top: 10px;
}

nav ul{
    float: right;
    display: flex;
}

nav ul li a{        
    line-height: 80px;
    padding: 12px, 30px;
}

nav ul li a:hover{
    background: rgba(165, 146, 182, 0.7);
    border-radius: 6px;
    color: white;
}

.navegacion {
    display: flex;
    justify-content: space-around;
    margin-right: 20%;
}

.navegacion__items {
    padding-left: 5px;
    padding-right: 5px;
}

.seccion1 {
    color: #191C2F;
    min-height: 77vh;
    display: flex;
    align-items: center;
}

.seccion1__bienvenida {
    width: 440px;
    position: relative;
    padding-top: 100px;
    margin-left: 80px;
    
}

.seccion1__titulo {
    margin-bottom: 40px;
}

.seccion2 {
    background-color: aliceblue;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.seccion2__titulo {
    margin-bottom: 30px;
}

.video__muestra {
    width: 500px;
}

.footer__sections {
    min-height: 20vh;
    background-color: #EBDCF6;
    color: #191C2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__redes {
    top: 30px;
    left: 30px;
}

.footer__contacto {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.footer__contacto__h4 {
    margin-top: 10px;
    margin-bottom: 15px;
}

a.email {
    color: black;
}

a.email:hover{
    background: rgba(165, 146, 182, 0.7);
    border-radius: 6px;
}


.footer__copyright {
    margin-top: 20px;
}
