



a {
    text-decoration: none;
    color:white;
}

ul {
    list-style: none;
}

body {
    background-image: url('../imagenes/background-logo1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Lora', serif;
}

.cabecera {
    background-color: #7374746e;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;

}

.cabecera__enlaces {
    display: flex;
    padding-left: 50px;
    gap: 20px;
}

.navegacion {
    display: flex;
    justify-content: space-around;
    margin-right: 20%;
}

.navegacion__items {
    padding-left: 5%;
    padding-right: 5%;
}

.seccion1 {
    color: #191C2F;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.seccion1__bienvenida {
    width: 500px;
    position: relative;
    left: 190px;
}

.seccion1__titulo {
    margin-bottom: 40px;
}

.seccion2 {
    background-color: aliceblue;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.seccion2__titulo {
    margin-bottom: 30px;
}

.video__muestra {
    width: 500px;
}

.footer {
    min-height: 30vh;
    background-color: #EBDCF6;
    color: #191C2F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.footer__redes {
    position: absolute;
    top: 30px;
    left: 30px;
}

.footer__contacto {
    position: absolute;
    top: 30px;
    left: 45%;
}

.footer__contacto__h4 {
    margin-bottom: 40px;
}

.footer__copyright {
    position: absolute;
    left: 35%;
    bottom: 0%;
}
a.email {
    color: black;
}