/* General */

html{
    height: 100%;
}

body{
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:white;
}

ul{
    list-style: none;
}

p{
    margin-top: 10px;
}

/* HEADER all */

.cabecera{
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    padding: 10px 90px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content:space-between;
    background-color: rgba(115, 116, 116, 0.6);
    color: white;
}

nav h1{
    padding-top: 10px;
}

nav ul{
    float: right;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    padding: 12px, 30px;
}

nav ul li a:hover{
    background: rgba(165, 146, 182, 0.7);
    border-radius: 6px;
    color: white;
}

.navegacion{
    margin-left: 40vh;
}

.navegacion__items {
    padding-left: 5px;
    padding-right: 5px;
}

/* MAIN INDEX section1 - portada */

.seccion1 {
    background-image: url('../img/background/background-logo2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 77vh;
    display: flex;
    align-items: center;
}

.seccion1__bienvenida {
    z-index: 10;
    width: 440px;
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
}

.seccion1__bienvenida p{
    text-align: justify;
}

.seccion1__titulo {
    margin-bottom: 40px;
}

/* MAIN INDEX section2 */

.seccion2 {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.seccion2__text {
    margin-bottom: 30px;
}

.seccion2__video{
    width: 727px;
    height: 409px;
}

.video__muestra {
    border-radius: 2%;
    width: 100%;
    height: 100%;
}

/* FOOTER all */

.footer__sections {
    min-height: 150px;
    bottom: -1px;
    background-color: #EBDCF6;
    color: #191C2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.footer__redes {
    position: absolute;
    top: 30px;
    left: 30px;
}

.footer__contacto {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}


a.email {
    color: black;
}

a.email:hover{
    background: rgba(165, 146, 182, 0.7);
    border-radius: 6px;
}


.footer__copyright {
    position: absolute;
    bottom: 0%;
}

/* MAIN CONTACTO section1 */

.background__contacto, .background_repeat{
    background-image: url('../img/background/background1.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.section__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
}

.section__contacto h2{
    font-weight: bold;
    font-size: 40px;
}

.formulario{
    width: 50%;
}

.seccion-form, .caja__video {
    background-color: #aaaaaad7;
    padding: 10px;
    border-radius: 3%;
    margin: 20px;
}

/* MAIN PRODUCTOS section1 */

.seccion1__portada{
    height: 450px;
}

.productos__portada-texto{
    margin-bottom: 0px;
}

.caja__video__chica{
    margin-left: 0px;
}

.seccion1__video{
    display: flex;
}

.productos__portada{
    margin-top: 110px;
}

/* MAIN PRODUCTOS section2 */

.btn-primary{
    background-color: rgb(165, 146, 182);
    border-color: rgb(165, 146, 182);
}

.card{
    padding: 5px;
}

.row__separacion{
    margin-bottom: 30px;
}

/* MAIN GRANNY section1 - portada */

.seccion1__caja{
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    color: white;
    padding: 20px;
}

.seccion1__carousel{
    width: 100%;
    margin-bottom: 40px;
}

.carousel-item{
    max-height: 700px;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

.carousel-full{
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

/* MAIN GRANNY section2 - tutorial */

.seccion2__granny{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja__tutorial{
    width: 70%;
    text-align: justify;
}

/* MAIN GRANNY section3 - video tutorial */

.seccion__video_tutorial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container{
    margin: 25px;
}

/* DESLIZADO */

.caja__video__tutorial{
    width: 490px;
    height: 300px;
}

/* VISTAS MOVILES */

@media (max-width:992px){
    body{
        background-image: url('../img/background/ellipse2.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 500px;
        background-position-x: 80px;
        margin: 0;
        padding: 0;
    }

    /* Header all */
    .cabecera{
        position: absolute;
        height: 50px;
        justify-content: center;
    }

    .logo__cabecera{
        padding-top: 0px;
        margin-left: 0vh;
        font-size: 90%;
    }

    .cabecera__navegacion{
        max-width: 220px;
    }

    .navegacion__redes{
        display: none;
    }

    .cabecera__redes{
        padding-left: 0px;
        flex-direction: row;
        justify-content: center;
    }

    .navegacion__items a{
        font-size: 12px;
        padding: 0;
    }

    nav ul li a {
        line-height: initial;
    }

    /* MAIN INDEX section1 */

    .seccion1{
        background-image: url('../img/background/background1.png');
        background-size: 120%;
        background-position-y: 0px;
        flex-direction: column;
        min-height: 45vh;
    }

    .seccion1__bienvenida{
        padding-top: 0px;
        max-width: 250px;
        position: relative;
        margin-top: 60px;
        margin-left: 15px;
    }

    .seccion1__titulo{
        font-weight: bold;
        margin-bottom: 20px;
    }

    .seccion1__bienvenida p{
        max-width: 200px;
        font-size: 12px;
        margin-bottom: 0px;
    }

    /* MAIN INDEX section2 */

    .seccion2{
        background: none;
    }

    .seccion2__text{
        max-width: 290px;
    }
    .seccion2__text p{
        font-size: 12px;
    }

    .video__muestra{
        max-width: 300px;
        max-height: 200px;
    }

    /* FOOTER all */

    .footer__sections {
        min-height: 120px;
    }

    .footer__redes a img{
        width: auto;
        height: auto;
        max-width: 20px;
        max-height: 20px;
    }

    .footer__redes{
        top: 15px;
        left: 20px;
    }

    div.footer__contacto{
        position: absolute;
        top: 16%;
        left: 33%;
    }

    .footer__h4{
        font-size: 16px;
    }

    span{
        font-size: 11px;
    }

    .footer__copyright{
        font-size: 10px;
    }

    /* MAIN CONTACTO */

    .section__contacto{
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .seccion-form{
        background: none;
    }

    .formulario{
        margin-bottom: 30px;
        max-width: 315px;
    }

    .mapa{
        max-width: 315px;
    }

}